body{
    background-color: #393E46;
}
h1 {
    font-size: 68px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #B2B2B2;
}
#a, #b, #c{
    display: flex;
    height: 25vh;
    width: 45vw;
    margin: 1px 0 0.8rem 27.7%;
}
#span-0, #span-1, #span-2, #span-3, #span-4, #span-5{
    flex-grow: 1;
    border: double black 10px;
    margin-right: 0.8rem;
    background-color: rgb(104, 64, 36);
}
button {
    width: 200px;
    height: 100px;
    font-size: 30px;
    position: absolute;
    bottom: 5px;
    background-color: rgb(20, 20, 20);
    color: #393E46;
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    border-radius: 50%;
}
footer{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #B2B2B2;
    position: absolute;
    right: 10px;
}